<div style="height: max-content;" class="table-container mat-elevation-z8">
  <mat-card class="param-container">

    <mat-card-content >

      <form  [formGroup]="form">
        

        
          <mat-form-field class="version">
            <input matInput #input class="form-control" type="text" placeholder="{{ 'genericParameter.version' | translate }}" formControlName="version"
              [(ngModel)]="data.version">
            <mat-error *ngIf="form.controls.version.invalid">{{getErrorMessage() | translate}}</mat-error>
          </mat-form-field>
          <mat-form-field class="systemName">
            <input matInput #input class="form-control" type="text" placeholder="{{ 'genericParameter.systemName' | translate }}" formControlName="systemName"
              [(ngModel)]="data.systemName">
            <mat-error *ngIf="form.controls.systemName.invalid">{{getErrorMessage() | translate}}</mat-error>
          </mat-form-field>
        
        
          <mat-form-field class="cnpj">
                <input matInput #input class="form-control" [textMask]="{mask: cnpjMask , guide: false, modelClean: true}"  type="text" placeholder="{{ 'genericParameter.cnpj' | translate }}" formControlName="cnpj"
                  [(ngModel)]="data.cnpj">
                <mat-error *ngIf="form.controls.cnpj.invalid">{{getErrorMessage() | translate}}</mat-error>
          </mat-form-field>
          <mat-form-field class="socialName">
            <input matInput #input class="form-control" type="text" placeholder="{{ 'genericParameter.socialName' | translate }}" formControlName="socialName"
              [(ngModel)]="data.socialName">
            <mat-error *ngIf="form.controls.socialName.invalid">{{getErrorMessage() | translate}}</mat-error>
          </mat-form-field>

        
          <mat-form-field class="codeZip">
            <input matInput #input class="form-control" type="text" placeholder="{{ 'genericParameter.codeZip' | translate }}" formControlName="codeZip"
              [(ngModel)]="data.codeZip">
            <mat-error *ngIf="form.controls.codeZip.invalid">{{getErrorMessage() | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field class="address">
            <input matInput #input class="form-control" type="text" placeholder="{{ 'genericParameter.address' | translate }}" formControlName="address"
              [(ngModel)]="data.address">
            <mat-error *ngIf="form.controls.address.invalid">{{getErrorMessage() | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field class="number">
              <input matInput #input class="form-control" type="text" placeholder="{{ 'genericParameter.number' | translate }}" formControlName="number"
                [(ngModel)]="data.number">
              
            </mat-form-field>
        
          <mat-form-field class="neighborhood">
              <input matInput #input class="form-control" type="text" placeholder="{{ 'genericParameter.neighborhood' | translate }}" formControlName="neighborhood"
                [(ngModel)]="data.neighborhood">
              <mat-error *ngIf="form.controls.neighborhood.invalid">{{getErrorMessage() | translate}}</mat-error>
          </mat-form-field>


          <mat-form-field class="city">
            <input matInput #input class="form-control" type="text" placeholder="{{ 'genericParameter.city' | translate }}" formControlName="city"
              [(ngModel)]="data.city">
            <mat-error *ngIf="form.controls.city.invalid">{{getErrorMessage() | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field class="state">
            <input matInput #input class="form-control" type="text" placeholder="{{ 'genericParameter.state' | translate }}" formControlName="state"
              [(ngModel)]="data.state">
            <mat-error *ngIf="form.controls.state.invalid">{{getErrorMessage() | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field class="emailClient">
            <input matInput #input class="form-control" type="text" placeholder="{{ 'genericParameter.emailClient' | translate }}" formControlName="emailClient"
              [(ngModel)]="data.emailClient">
            <mat-error *ngIf="form.controls.emailClient.invalid">{{getErrorMessage() | translate}}</mat-error>
          </mat-form-field>
          
          <mat-form-field class="responsiblePerson">
              <input matInput #input class="form-control" type="text" placeholder="{{ 'genericParameter.responsiblePerson' | translate }}"
                formControlName="responsiblePerson" [(ngModel)]="data.responsiblePerson">
              <mat-error *ngIf="form.controls.responsiblePerson.invalid">{{getErrorMessage() | translate}}</mat-error>
            </mat-form-field>
      
          <mat-form-field class="emailReponsible">
            <input matInput #input class="form-control" type="text" placeholder="{{ 'genericParameter.emailReponsible' | translate }}"
              formControlName="emailReponsible" [(ngModel)]="data.emailReponsible">
            <mat-error *ngIf="form.controls.emailReponsible.invalid">{{getErrorMessage() | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field class="emailDefault">
            <input matInput #input class="form-control" type="text" placeholder="{{ 'genericParameter.emailDefault' | translate }}" formControlName="emailDefault"
              [(ngModel)]="data.emailDefault">
            <mat-error *ngIf="form.controls.emailDefault.invalid">{{getErrorMessage() | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field class="emailPermission">
            <input matInput #input class="form-control" type="text" placeholder="{{ 'genericParameter.emailPermission' | translate }}" formControlName="emailPermission"
              [(ngModel)]="data.emailPermission">
            <mat-error *ngIf="form.controls.emailPermission.invalid">{{getErrorMessage() | translate}}</mat-error>
          </mat-form-field>

      </form>
      <div align="center">
      <mat-dialog-actions class="mat-dialog-actions-params"> 
          <button style="align-content: center center" class="mat-raised-button" mat-button  [disabled]="form.invalid" 
            (click)="save()" translate>{{ 'save' | translate }}</button>
          <button class="mat-raised-button" mat-button (click)="onNoClick()" tabindex="-1">{{ 'goback' | translate }}</button>
      </mat-dialog-actions>
      </div>
    </mat-card-content>
    
  </mat-card>

</div>


    
      
      
  