@import '../../../../../assets/styles/color.scss';
@import '../../../../../assets/styles/crud.scss';

.mat-cell:nth-child(1), // product
.mat-header-cell:nth-child(1),
{
flex: 450px;

}
.mat-cell:nth-child(2), // register
.mat-header-cell:nth-child(2),
{
flex: 100px;

}
.mat-cell:nth-child(3), // process
.mat-header-cell:nth-child(3),
{
flex: 150px;

}
.mat-cell:nth-child(4), // company
.mat-header-cell:nth-child(4),
{
flex: 250px;

}
.mat-cell:nth-child(5), // situation
.mat-header-cell:nth-child(5),
{
flex: 350px;

}
.mat-cell:nth-child(6), // vencimento
.mat-header-cell:nth-child(6),
{
flex: 100px;

}
.mat-row {
  min-height: max-content;
  max-height: max-content;
  border: 0;

  margin-top: 2px;
  margin-bottom: 2px;
}
.mat-row:hover {
  background-color: blue;
  --webkit-text-stroke-color: white;
  cursor: pointer;
  cursor: hand;
}
.contanier{
  background-color:	$systemBackgronwd;
}
.table-container-foot {
  display: flex;
  flex-direction: column;
  height: 50vh;
  max-height: 50vh;
  background-color:	$systemBackgronwd;
}

.specificElement {
  height: 40%;
  max-height: 40%;
}
