@import '../../../../../assets/styles/color.scss';
@import '../../../../../assets/styles/crud.scss';

.mat-cell:nth-child(1), // date update
.mat-header-cell:nth-child(1),
{
flex: 8vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(2), // date register
.mat-header-cell:nth-child(2),
{
flex: 8vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(3), // register
.mat-header-cell:nth-child(3),
{
flex: 8vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(4), // product
.mat-header-cell:nth-child(4),
{
flex: 40vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(5), // register
.mat-header-cell:nth-child(5),
{
flex: 15vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(6), // process
.mat-header-cell:nth-child(6),
{
flex: 25vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(7), // company
.mat-header-cell:nth-child(7),
{
flex: 30vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(8), // situation
.mat-header-cell:nth-child(8),
{
flex: 30vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(9), // vencimento
.mat-header-cell:nth-child(9),
{
flex: 10vh;
font-size: $font-line-size;
}
.mat-row {
  min-height: max-content;
  max-height: max-content;
  border: 0;

  margin-top: 2px;
  margin-bottom: 2px;
}
.mat-row:hover {
  background-color: blue;
  --webkit-text-stroke-color: white;
  cursor: pointer;
  cursor: hand;
}
.highlight {
  background-color: blue;
  --webkit-text-stroke-color: white;
}
.contanier{
  background-color:	$systemBackgronwd;
}
.table-container-foot {
  display: flex;
  flex-direction: column;
  height: 40vh;
  max-height: 40vh;
  background-color:	$systemBackgronwd;
}

.specificElement {
  height: 40%;
  max-height: 40%;
}
