@import '../../../../../../assets/styles/color.scss';
@import '../../../../../../assets/styles/crud.scss';

// html { font-size: 100%; }// this is usually 16px by default }
// body { font-size: 0.45em;} // 12px }
// h1 { font-size: 2em;} // 24px }

.mat-cell:nth-child(1), // product
.mat-header-cell:nth-child(1),
{
flex:370px;

}
.mat-cell:nth-child(2), // register
.mat-header-cell:nth-child(2),
{
flex:100px;

}
.mat-cell:nth-child(3), // process
.mat-header-cell:nth-child(3),
{
flex:200px;

}
.mat-cell:nth-child(4), // company
.mat-header-cell:nth-child(4),
{
flex:350px;

}
.mat-cell:nth-child(5), // situation
.mat-header-cell:nth-child(5),
{
flex:250px;

}
.mat-cell:nth-child(6), // vencimento
.mat-header-cell:nth-child(6),
{
flex:100px;

}
.mat-row:hover {
  background-color: blue;
  --webkit-text-stroke-color: white;
  cursor: pointer;
  cursor: hand;
}
.contanier{
  background-color:	$systemBackgronwd;
}
.table-container-saneante-product {
  display: flex;
  flex-direction: column;
  height: 55vh;
  max-height: 55vh;
  background-color:	$systemBackgronwd;
}