@import '../../../../../../assets/styles/color.scss';
@import '../../../../../../assets/styles/crud.scss';

// html { font-size: 100%; }// this is usually 16px by default }
// body { font-size: 0.45em;} // 12px }
// h1 { font-size: 2em;} // 24px }

.mat-cell:nth-child(1), // subject
.mat-header-cell:nth-child(1),
{
flex: 250px;

}
.mat-cell:nth-child(2), // process
.mat-header-cell:nth-child(2),
{
flex: 200px;

}
.mat-cell:nth-child(3), // officehour
.mat-header-cell:nth-child(3),
{
flex: 100px;
font-size: $font-line-size;
}
.mat-cell:nth-child(4), // transaction
.mat-header-cell:nth-child(4),
{
flex: 150px;
font-size: $font-line-size;
}
.mat-cell:nth-child(5), // product
.mat-header-cell:nth-child(5),
{
flex: 350px;
font-size: $font-line-size;
}
.mat-cell:nth-child(6), // company
.mat-header-cell:nth-child(6),
{
flex: 350px;
font-size: $font-line-size;
}
.mat-cell:nth-child(7), // situation
.mat-header-cell:nth-child(7),
{
flex: 120px;
font-size: $font-line-size;
}
.mat-cell:nth-child(8), // maturity
.mat-header-cell:nth-child(8),
{
flex: 100px;
font-size: $font-line-size;
}
.mat-cell:nth-child(9), // statusMaturity
.mat-header-cell:nth-child(9),
{
flex: 100px;
font-size: $font-line-size;
}
.mat-row:hover {
    background-color: blue;
    -webkit-text-stroke-color: rgb(255, 255, 255)
}
.contanier{
    background-color:	$systemBackgronwd;
}
.table-container-saneante-notification {
    display: flex;
    flex-direction: column;
    height: 55vh;
    max-height: 55vh;
    background-color:	$systemBackgronwd;
}

