<div class="login-container"  >
    <div class="login-title"> 

       <!--<p fxLayoutAlign="center center" translate> APP_NAME </p>-->
       <img style="height: 50%;" src="../../../assets/unilever.jpg" />
    </div>
  <div class="mat-dialog-container" fxLayout="row" fxLayoutAlign="center">
     
    <mat-card fxFlex="90%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%" class="login-box">
      <h2 mat-dialog-title translate>Redefine</h2>
      <form (ngSubmit)="redefinePassword()" [formGroup]="redefineForm" novalidate>
        <div class="login-error" [hidden]="!error || isLoading" translate>
          Password incorrect.
        </div>
        <br/>
        <div fxLayout="column">
         
          <mat-form-field>
            <input type="password" matInput formControlName="password" autocomplete="current-password"
                   [placeholder]="'Password' | translate" required/>
            <mat-error *ngIf="redefineForm.controls.password.valid || redefineForm.controls.password.untouched">
              <span translate>Password is required</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input type="password" matInput formControlName="confirmPassword" autocomplete="current-password"
                     [placeholder]="'ConfirmPassword' | translate" required/>
              <mat-error *ngIf="redefineForm.controls.password.valid || redefineForm.controls.password.untouched">
                <span translate>RedefinePasswordInvalid</span>
              </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="redefineForm.invalid || isLoading ">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span translate>Login</span>
          </button>
          <br/>
        </div>
      </form>
    </mat-card>
  </div>
</div>
