<mat-card class="contanier mat-elevation-z8">
    <!-- Title of an Card -->
    <mat-card-title>

        <p align="center" style="height: 100%;">{{ 'recordCosmeticRegisterDetail.detailOfProductApresentation' | translate }}</p>

    </mat-card-title>

    <mat-card-content>
      <div>   
        <div  fxLayout="column" style="max-height:50vh;overflow-y: auto;display: block!important;">
            <table class="table-detail" style="width:100%;">

                <tr>
                    <td style="width: 15%">{{ 'recordCosmeticRegisterDetail.detailOfProductApresentation.produto' | translate }}</td>
                    <td>{{contentItem.nomeProduto}}</td>
                </tr>
                <tr>
                    <td style="width: 15%">{{ 'recordCosmeticRegisterDetail.detailOfProductApresentation.process' | translate }}</td>
                    <td>{{contentItem.processo | mask : '00000.000000/0000-00'}}</td>
                </tr>

                <tr>
                    <td style="width: 15%">{{ 'recordCosmeticRegisterDetail.detailOfProductApresentation.name' | translate }}</td>
                    <td>{{contentItem.apresentacao}}</td>
                </tr>

                <tr>
                    <td style="width: 15%">{{ 'recordCosmeticRegisterDetail.detailOfProductApresentation.category' | translate }}</td>
                    <td>{{contentItem.categoria}}</td>
                </tr>

                <tr>
                        <td style="width: 15%">{{ 'recordCosmeticRegisterDetail.detailOfProductApresentation.placeOfFabrication' | translate }}</td>
                        <td>
                        <table style="width:100%;" *ngFor="let fabricante of contentItem.fabricantesNacionais"> 
                            <tr>{{'recordCosmeticRegisterDetail.detailOfProductApresentation.cnpj' | translate}}</tr>
                            <tr>{{fabricante.cnpj | mask: '99.999.999/9999-99'}}</tr>

                            <tr>{{'recordCosmeticRegisterDetail.detailOfProductApresentation.socialname' | translate}}</tr>
                            <tr>{{fabricante.razaoSocial }}</tr>

                            <tr>{{'recordCosmeticRegisterDetail.detailOfProductApresentation.county' | translate}}</tr>
                            <tr>{{fabricante.cidade}}</tr>

                            <tr>{{'recordCosmeticRegisterDetail.detailOfProductApresentation.uf' | translate}}</tr>
                            <tr>{{fabricante.uf}}</tr>

                            <tr>{{'recordCosmeticRegisterDetail.detailOfProductApresentation.country' | translate}}</tr>
                            <tr>{{fabricante.pais}}</tr>

                            <tr>{{'recordCosmeticRegisterDetail.detailOfProductApresentation.type' | translate}}</tr>
                            <tr>{{fabricante.tipo}}</tr>
                        </table>       
                    </td>
                </tr>

                <tr>
                        <td style="width: 15%">{{ 'recordCosmeticRegisterDetail.detailOfProductApresentation.category' | translate }}</td>
                        <td>{{contentItem.categoria}}</td>
                </tr>

                <tr>
                        <td style="width: 15%">{{ 'recordCosmeticRegisterDetail.detailOfProductApresentation.physicalForm' | translate }}</td>
                        <td>{{contentItem.formaFisica}}</td>
                </tr>

                <tr>
                        <td style="width: 15%">{{ 'recordCosmeticRegisterDetail.detailOfProductApresentation.tonality' | translate }}</td>
                        <td>{{contentItem.tonalidade}}</td>
                </tr>

                <tr>
                        <td style="width: 15%">{{ 'recordCosmeticRegisterDetail.detailOfProductApresentation.productShelfLife' | translate }}</td>
                        <td>{{contentItem.prazoValidade}} Meses</td>
                </tr>

                <tr>
                        <td style="width: 15%">{{ 'recordCosmeticRegisterDetail.detailOfProductApresentation.conservation' | translate }}</td>
                        <td>
                                <tr *ngFor="let conserva of contentItem.conservacao">
                                    {{conserva.valor}}
                                </tr>
                        </td>
                </tr>

                <tr>
                        <td style="width: 15%">{{ 'recordCosmeticRegisterDetail.detailOfProductApresentation.destination' | translate }}</td>
                        <td>
                                <tr *ngFor="let destina of contentItem.destinacao">
                                    {{destina.valor}}
                                </tr>
                        </td>
                        
                </tr>

                <tr>
                        <td style="width: 15%">{{ 'recordCosmeticRegisterDetail.detailOfProductApresentation.Restriction' | translate }}</td>
                        <td>
                                <tr *ngFor="let restric of contentItem.restricao">
                                    {{restric.valor}}
                                </tr>
                        </td>
                        
                </tr>

            </table>
        </div>    
            <div align="center" style="margin-top:5px;">
                <mat-dialog-actions>
                    <button class="mat-raised-button" mat-button (click)="goBack()" tabindex="-1">{{ 'goback' | translate }}</button>
                </mat-dialog-actions>
            </div>
        </div>
    </mat-card-content>

</mat-card>