@import '../../../../../../assets/styles/color.scss';
@import '../../../../../../assets/styles/crud.scss';

// html { font-size: 100%; }// this is usually 16px by default }
// body { font-size: 0.45em;} // 12px }
// h1 { font-size: 2em;} // 24px }

.mat-cell:nth-child(1), // subject
.mat-header-cell:nth-child(1),
{
    flex: 25vh;
}
.mat-cell:nth-child(2), // process
.mat-header-cell:nth-child(2),
{
    flex: 22vh;

}
.mat-cell:nth-child(3), // officehour
.mat-header-cell:nth-child(3),
{
    flex: 10vh;

}
.mat-cell:nth-child(4), // transaction
.mat-header-cell:nth-child(4),
{
    flex: 10vh;

}
.mat-cell:nth-child(5), // product
.mat-header-cell:nth-child(5),
{
    flex: 40vh;

}
.mat-cell:nth-child(6), // company
.mat-header-cell:nth-child(6),
{
    flex: 35vh;

}
.mat-cell:nth-child(7), // situation
.mat-header-cell:nth-child(7),
{
    flex: 15vh;

}
.mat-cell:nth-child(8), // maturity
.mat-header-cell:nth-child(8),
{
    flex: 5vh;

}
.mat-cell:nth-child(9), // maturity
.mat-header-cell:nth-child(9),
{
    flex: 5vh;

}
.mat-row {
    min-height: max-content;
    max-height: max-content;
    border: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}
.mat-row:hover {
    background-color: blue;
    --webkit-text-stroke-color: white;
    cursor: pointer;
    cursor: hand;
  }
.contanier{
    background-color:	$systemBackgronwd;
}
.table-container-cosmetic-notification {
    display: flex;
    flex-direction: column;
    height: 50vh;
    max-height: 50vh;
    background-color:	$systemBackgronwd;
}


