@import "src/theme/theme-variables";
@import '../../assets/styles/color.scss';
:host {
  display: flex;
  flex: 1;
  background-color: $systemBackgronwd;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-box {
  width: auto;
  height:max-content;
  border-radius: 5px !important;
  background-color: $systemBackgronwd
}

::ng-deep .mat-dialog-title{
  background-color: $systemColor;
  color: white;
  text-align: center
}  

::ng-deep .mat-dialog-container {
  overflow: hidden !important;
  padding: 10px !important;

  background-color: $systemBackgronwd;
  border-color: black;
  border-width: 5px;
  width: auto;
  height:80%;
}

.login-title {
  color: white;
  background-color: $systemColor;
  width: 100%;
  height: auto;
}
.body{
  width: 100%;
}
.title{
  margin-top: 10%;
}
.login-container {
  background-color: $systemColor;
  width: 100%;
}
.mat-form-field {
  
  width: 100%;
}

.login-error {
  color: mat-color($app-warn);
}
