
<div class="table-container mat-elevation-z8">

  
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Digite o que procura">
    </mat-form-field>


  <mat-table #table class="mat-table mat-elevation-z12" [dataSource]="dataSource" matSort>



    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'user.id' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
    </ng-container>

    <!-- User Name Column -->
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'user.userName' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.userName}} </mat-cell>
    </ng-container>

    <!-- Full Name Column -->
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'user.fullName' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.fullName}} </mat-cell>
    </ng-container>

    <!-- cellPhone Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'user.email' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>

    <!-- profile Column -->
    <ng-container matColumnDef="profile">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'user.profile' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ getProfile(user.profile)}} </mat-cell>
    </ng-container>

   <!-- active Column 
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'user.active' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ getActive(user.active)}} </mat-cell>
    </ng-container> -->

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let user; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, user)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>

        
      </mat-cell>
     
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
      
    </mat-row>

  </mat-table>
  <mat-paginator [length]="100"
              [pageSize]="100"
              [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
 

