@import '../../../assets/styles/color.scss';
@import '../../../assets/styles/crud.scss';

// .mat-cell:nth-child(1), // id
//   .mat-header-cell:nth-child(1),
//   {
//   flex: 0 0 40px;
//   }
  .mat-cell:nth-child(1), // fullName
  .mat-header-cell:nth-child(1),
  {
  flex: 0 0 350px;
  }
  .mat-cell:nth-child(2), // userName
  .mat-header-cell:nth-child(2),
  {
  flex: 0 0 300px;
  }
  .mat-cell:nth-child(3), // userEmail
  .mat-header-cell:nth-child(3),
  {
  flex: 0 0 300px;
  }
  .mat-cell:nth-child(4), // profile
  .mat-header-cell:nth-child(4),
  {
  flex: 0 0 150px;
  }
  .mat-cell:nth-child(5), // active
  .mat-header-cell:nth-child(5),
  {
  flex: 0 0 80px;
  }
  .mat-cell:nth-child(6) { // Edit
    -webkit-text-fill-color: $systemColor
  }
  .mat-header-cell:nth-child(7), // Delete
  {
    -webkit-text-fill-color:white;
  flex: 0 0 10%;
  }
  .mat-row:hover {
    background-color: blue;
    --webkit-text-stroke-color: white;
    cursor: pointer;
    cursor: hand;
  }
  .mat-checkbox {
    font-size: 14px;
    margin: 20px;
    font-weight: bold;
    background-color: inherit;
 }

  
  