@import '../../../assets/styles/color.scss';
@import '../../../assets/styles/crud.scss';

  .mat-cell:nth-child(1), // select
  .mat-header-cell:nth-child(1),
  {
    flex: 0 0 50px;
    overflow: visible;

  }
  .mat-cell:nth-child(2), // cnpj
  .mat-header-cell:nth-child(2),
  {
    flex: 0 0 150px;
  }
  .mat-cell:nth-child(3), // fullName
  .mat-header-cell:nth-child(3),
  {
    flex: 0 0 250px;
  }
  .mat-cell:nth-child(4), // category
  .mat-header-cell:nth-child(4),
  {
    flex: 0 0 150px;
    overflow: visible;
    align-self: center;
  }
  .mat-cell:nth-child(5), // foot
  .mat-header-cell:nth-child(5),
  {
    flex: 0 0 100px;
    overflow: visible;
    align-self: center;
  }  
  .mat-cell:nth-child(6), // cosmetic 
  .mat-header-cell:nth-child(6),
  {
    flex: 0 0 100px;
    overflow: visible;
    align-content: center;
  } 
  .mat-cell:nth-child(7), // saneante 
  .mat-header-cell:nth-child(7),
  {
    flex: 0 0 100px;
    overflow: visible;
    align-content: center;
  } 
  .mat-cell:nth-child(8), //  sendNotification
  .mat-header-cell:nth-child(8),
  {
    flex: 0 0 200px;
    overflow: visible;
    align-content: center;
  } 
  .custom-modalbox {
      overflow: hidden !important;
      border-radius: 5px !important;
      //padding: 5px !important;
      background-color: $systemBackgronwd;
  }

  .table-dialog-container {
    display: block;
    flex-direction: column;
    height: 400px;
    width: auto;
    background-color:	$systemBackgronwd;
  }

  
   