@import '../../../assets/styles/color.scss';
@import '../../../assets/styles/crud.scss';

.mat-cell:nth-child(1), // cnpj
  .mat-header-cell:nth-child(1),
  {
    flex: 0 0 150px;
  }
  .mat-cell:nth-child(2), // fullName
  .mat-header-cell:nth-child(2),
  {
  flex: 0 0 350px;
  }
  .mat-cell:nth-child(3), // category
  .mat-header-cell:nth-child(3),
  {
  flex: 0 0 200px;
  }
  .custom-modalbox {
      overflow: hidden !important;
      border-radius: 5px !important;
      //padding: 5px !important;
      background-color: $systemBackgronwd;
  }

  .table-dialog-container {
    display: block;
    flex-direction: column;
    height: 400px;
    width: auto;
    background-color:	$systemBackgronwd;
  }

  
   