<h2 mat-dialog-title translate>login</h2>
<mat-dialog-content>
  <form (ngSubmit)="submit" [formGroup]="form">
      
    <div style="margin: 20px" layout="row"  layout-align="space-between center">
        <mat-form-field>
            <input matInput class="form-control" type="text" placeholder="{{ 'login.userName' | translate }}" formControlName="userName"
            [(ngModel)]="data.userName">
          <mat-error *ngIf="form.controls.userName.invalid">{{getErrorMessage() | translate}}</mat-error>        
        </mat-form-field>
    </div>
    <div style="margin: 20px" layout="row"  layout-align="space-between center" fix>    
        <mat-form-field>
            <input matInput class="form-control" type="password" placeholder="{{ 'login.password' | translate }}" formControlName="password"
            [(ngModel)]="data.password">
          <mat-error *ngIf="form.controls.password.invalid">{{getErrorMessage() | translate}}</mat-error>        
        </mat-form-field>
    </div>
    <div style="margin: 20px" layout="row"  layout-align="space-between center" fix>    

        <mat-checkbox class="form-control" title="{{ 'lostpassword' | translate }}"></mat-checkbox>
    </div>
    <!--<mat-slide-toggle color="primary" formControlName="remember" translate>remember.me</mat-slide-toggle>-->
    <br/>


  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" mat-button [type]="submit" [disabled]="form.invalid" [mat-dialog-close]="1"
    (click)="confirmAdd()" translate>{{ 'Login' | translate }}</button>
  <button class="mat-raised-button" mat-button (click)="onNoClick()" tabindex="-1">{{ 'cancel' | translate }}</button>
</mat-dialog-actions>