<div style="margin-left: 15px;" class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="40px" fxLayoutGap.lt-md="20px"
  [formGroup]="form">
  <tr>
    <td>
      <mat-form-field>
        <mat-select [(value)]="selected" (selectionChange)="onChangeCompany()" [placeholder]="'queryRecord.company' | translate"
          formControlName="company">
          <mat-option *ngFor="let cnpj of cnpjs" [value]="cnpj">
            {{ cnpj.fullName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="selected">
        <mat-select [(value)]="selectedCategory" (selectionChange)="onChangeCategory()" [placeholder]="'queryRecord.category' | translate"
          formControlName="category">
          <mat-option *ngFor="let category of categorys" [value]="category.value">
            {{ category.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="selectedCategory && selectedCategory!=0 && options">
        <mat-select [(value)]="selectedOption" (selectionChange)="onChangeOption()" [placeholder]="'queryRecord.option' | translate"
          formControlName="option">
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-icon-button (click)="loadData()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button *ngIf="dataSource" (click)="exportAsExcel()">
        <mat-icon>import_export</mat-icon>
        Exportar
      </button>
    </td>
  </tr>
  <tr>
  <!--Produtos Regulares e Alimentos-->
  <ng-template [ngIf]="typeProduct == 0">

    <td>
      <mat-form-field>
        <input type="text" matInput [textMask]="{mask: cnpjProcessFood , guide: false, modelClean: true}" [placeholder]="'queryRecord.numberProcess' | translate"
          formControlName="process" />
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput [placeholder]="'queryRecord.product' | translate" formControlName="product" />
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput [placeholder]="'queryRecord.brand' | translate" formControlName="brand" />
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput [placeholder]="'queryRecord.numberRegister' | translate" formControlName="numberRegister" />
      </mat-form-field>
    </td>
  </ng-template>

  <!--Produtos Notificados-->
  <ng-template [ngIf]="typeProduct == 1">
    <td>
      <mat-form-field>
        <input type="text" matInput [textMask]="{mask: cnpjProcessCosmetc , guide: false, modelClean: true}" [placeholder]="'queryRecord.numberProcess' | translate"
          formControlName="process" />
      </mat-form-field>
    </td>
  </ng-template>
</tr>
</div>
<div class="table-container mat-elevation-z8" [formGroup]="form">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Digite o que procura">
  </mat-form-field>


  <!--Produtos Regulares e Alimentos-->
  <ng-template [ngIf]="typeProduct == 0">

    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- product Column -->
      <ng-container matColumnDef="product">
        <mat-header-cell style="width: 10em" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.product' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.produto}} </mat-cell>
      </ng-container>

      <!-- year Column -->
      <ng-container matColumnDef="register">
        <mat-header-cell style="width: 10em" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.register' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.registro}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="process">
        <mat-header-cell style="width: 10em" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.process' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.processo}} </mat-cell>
      </ng-container>

      <!-- company Column -->
      <ng-container matColumnDef="company">
        <mat-header-cell style="width: 10em" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.company' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.empresa}} </mat-cell>
      </ng-container>

      <!-- company Column -->
      <ng-container matColumnDef="situation">
        <mat-header-cell style="width: 10em" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.situation' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.situacao}} </mat-cell>
      </ng-container>

      <!-- company Column -->
      <ng-container matColumnDef="maturity">
        <mat-header-cell style="width: 10em" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.maturity' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.vencimento}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </ng-template>

  <!--Produtos Notificados-->
  <ng-template [ngIf]="typeProduct == 1">
    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- subject Column -->
      <ng-container matColumnDef="subject">
        <mat-header-cell style="width: 300px;" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.subject' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.assunto}} </mat-cell>
      </ng-container>

      <!-- process Column -->
      <ng-container matColumnDef="process">
        <mat-header-cell style="width: 80px" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.process' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.processo}} </mat-cell>
      </ng-container>

      <!-- transaction Column -->
      <ng-container matColumnDef="transaction">
        <mat-header-cell style="width: 50px" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.transaction' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.transacao}} </mat-cell>
      </ng-container>

      <!-- officehour Column -->
      <ng-container matColumnDef="officehour">
        <mat-header-cell style="width: 50px" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.officehour' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.expedienteProcesso}} </mat-cell>
      </ng-container>

      <!-- product Column -->
      <ng-container matColumnDef="product">
        <mat-header-cell style="width: auto" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.product' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.produto}} </mat-cell>
      </ng-container>

      <!-- company Column -->
      <ng-container matColumnDef="company">
        <mat-header-cell style="width: auto" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.company' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.cnpj+" - "+content.razaoSocial}} </mat-cell>
      </ng-container>

      <!-- situation Column -->
      <ng-container matColumnDef="situation">
        <mat-header-cell style="width: auto" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.situation' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.situacao}} </mat-cell>
      </ng-container>

      <!-- maturity Column -->
      <ng-container matColumnDef="maturity">
        <mat-header-cell style="width: 50px" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.maturity' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.vencimento}} </mat-cell>
      </ng-container>

      <!-- statusMaturity Column -->
      <ng-container matColumnDef="statusMaturity">
        <mat-header-cell style="width: 50px" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.statusMaturity' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.statusVencimento}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayeNotify"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayeNotify;">
      </mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </ng-template>

  <!--Produtos Registrados-->
  <ng-template [ngIf]="typeProduct == 2">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="process">
        <mat-header-cell style="width: 10em" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.process' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.processo}} </mat-cell>
      </ng-container>
      <!-- product Column -->
      <ng-container matColumnDef="product">
        <mat-header-cell style="width: 10em" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.product' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.produto}} </mat-cell>
      </ng-container>

      <!-- year Column -->
      <ng-container matColumnDef="type">
        <mat-header-cell style="width: 10em" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.type' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.tipo}} </mat-cell>
      </ng-container>

      <!-- company Column -->
      <ng-container matColumnDef="situation">
        <mat-header-cell style="width: 10em" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.situation' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.situacao}} </mat-cell>
      </ng-container>

      <!-- company Column -->
      <ng-container matColumnDef="maturity">
        <mat-header-cell style="width: 10em" *matHeaderCellDef mat-sort-header>{{ 'queryRecord.maturity' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let content"> {{content.vencimento}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedRegularized"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedRegularized;">
      </mat-row>

    </mat-table>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </ng-template>



</div>