@import '../../../../assets/styles/color.scss';
@import '../../../../assets/styles/crud.scss';
// html { font-size: 100%; }// this is usually 16px by default }
body { font-size: $font-line-size;}
// h1 { font-size: 2em;} // 24px }
 
.mat-cell:nth-child(1), // order
.mat-header-cell:nth-child(1),
{
flex:10px;

}
.mat-cell:nth-child(2), // cnpj
.mat-header-cell:nth-child(2),
{
flex:50px;

}
.mat-cell:nth-child(3), // company
.mat-header-cell:nth-child(3),
{
flex:250px;

}
.mat-cell:nth-child(4), // process
.mat-header-cell:nth-child(4),
{
flex:150px;

}
.mat-cell:nth-child(5), // subject
.mat-header-cell:nth-child(5),
{
flex:500px;

}
.mat-row:hover {
    background-color: blue;
    --webkit-text-stroke-color: white;
    cursor: pointer;
    cursor: hand;
}
.contanier{
    background-color:	$systemBackgronwd;
  }
.table-container-process {
    display: flex;
    flex-direction: column;
    height: 50vh;
    max-height: 50vh;
    background-color:	$systemBackgronwd;
  }


