@import '../../../../assets/styles/color.scss';
@import '../../../../assets/styles/crud.scss';
  
.mat-cell:nth-child(1), // order
.mat-header-cell:nth-child(1),
{
flex: 0 0 100px;
font-size: 6px;
}
.mat-cell:nth-child(2), // cnpj
.mat-header-cell:nth-child(2),
{
flex: 0 0 150px;
font-size: 6px;
}
.mat-cell:nth-child(3), // company
.mat-header-cell:nth-child(3),
{
flex: 0 0 250px;
font-size: 6px;
}
.mat-cell:nth-child(4), // process
.mat-header-cell:nth-child(4),
{
flex: 0 0 150px;
font-size: 6px;
}
.mat-cell:nth-child(5), // subject
.mat-header-cell:nth-child(5),
{
flex: auto auto 500px;
font-size: 6px;
}
.mat-row:hover {
    background-color: blue;
    -webkit-text-stroke-color: white;
    height: auto;
}
.table-container-process {
    display: flex;
    flex-direction: column;
    max-height: 350px;
    max-width: auto;
    margin: 0px;
    background-color:	$systemBackgronwd;
  }


