@import '../../../../../../assets/styles/color.scss';
@import '../../../../../../assets/styles/crud.scss';

// html { font-size: 100%; }// this is usually 16px by default }
// body { font-size: 0.45em;} // 12px }
// h1 { font-size: 2em;} // 24px }
.mat-cell:nth-child(1), // date update
.mat-header-cell:nth-child(1),
{
flex: 8vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(2), // date register
.mat-header-cell:nth-child(2),
{
flex: 8vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(3), // qtd register
.mat-header-cell:nth-child(3),
{
flex: 6vh;
font-size: $font-line-size;
text-decoration: center;
}
.mat-cell:nth-child(4), // subject
.mat-header-cell:nth-child(4),
{
flex: 25vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(5), // process
.mat-header-cell:nth-child(5),
{
flex: 25vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(6), // officehour
.mat-header-cell:nth-child(6),
{
flex: 10vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(7), // transaction
.mat-header-cell:nth-child(7),
{
flex: 8vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(8), // product
.mat-header-cell:nth-child(8),
{
flex: 40vh;
font-size: $font-line-size;
}
// .mat-cell:nth-child(9), // company
// .mat-header-cell:nth-child(9),
// {
// flex: 35vh;
// font-size: $font-line-size;
// }
.mat-cell:nth-child(9), // situation
.mat-header-cell:nth-child(9),
{
flex: 15vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(10), // maturity
.mat-header-cell:nth-child(10),
{
flex: 7vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(11), // statusMaturity
.mat-header-cell:nth-child(11),
{
flex: 5vh;
font-size: $font-line-size;
}
.mat-row {
    min-height: max-content;
    max-height: max-content;
    border: 0;

    margin-top: 2px;
    margin-bottom: 2px;
}
.mat-row:hover {
    background-color: blue;
    --webkit-text-stroke-color: white;
    cursor: pointer;
    cursor: hand;
  }
.contanier{
    background-color:	$systemBackgronwd;
}
.table-container-cosmetic-register {
    display: flex;
    flex-direction: column;
    height: 40vh;
    max-height: 40vh;
    background-color:	$systemBackgronwd;
}
.highlight {
    background-color: blue;
    --webkit-text-stroke-color: white;
}
