@import '../../../assets/styles/color.scss';
@import '../../../assets/styles/crud.scss';

.param-container {
    background-color: $systemBackgronwd
}
.version   {
    width: 20%
}

.systemName {
    width: 40%
}

.cnpj {
    width: 20%
}

.socialName {
    width: 40%
}

.codeZip {
    width: 20%
}

.address {
    width: 40%
}

.number {
    width: 10%
}

.neighborhood {
    width: 20%
}

.city {
    width: 20%
}

.state {
    width: 5%
}


.emailClient {
    width: 34%
}

.responsiblePerson {
    width: 30% 
}

.emailReponsible {
    width: 45% 
}

.emailDefault {
    width: 46% 
}

