@import '../../../assets/styles/color.scss';
@import '../../../assets/styles/crud.scss';

.param-container {
    background-color: $systemBackgronwd
}
.version   {
    width: 20%
}

.systemName {
    width: 40%
}

.cnpj {
    width: 20%
}

.socialName {
    width: 40%
}

.codeZip {
    width: 20%
}

.address {
    width: 40%
}

.number {
    width: 10%
}

.neighborhood {
    width: 20%
}

.city {
    width: 20%
}

.state {
    width: 5%
}


.emailClient {
    width: 34%
}

.responsiblePerson {
    width: 30% 
}

.emailReponsible {
    width: 45% 
}

.emailDefault {
    width: 46% 
}

.mat-cell:nth-child(1), // cnpj
  .mat-header-cell:nth-child(1),
  {
  flex: 0 0 150px;
  }
  .mat-cell:nth-child(2), // fullName
  .mat-header-cell:nth-child(2),
  {
  flex: 0 0 300px;
  }
  .mat-cell:nth-child(3), // category
  .mat-header-cell:nth-child(3),
  {
  flex: 0 0 200px;
  }
  .mat-cell:nth-child(4), // sendNotification
  .mat-header-cell:nth-child(4),
  {
  flex: 0 0 200px;
  }
  .mat-cell:nth-child(5) { // Edit
    -webkit-text-fill-color: $systemColor
  }


