@import '../../../assets/styles/color.scss';
@import '../../../assets/styles/crud.scss';

.param-container {
    background-color: $systemBackgronwd
}
.version   {
    width: 20%
}

.fullName {
    width: 350px;
    margin-left: 15px;
}

.userName {
    width: 200px
}

.email {
    width: 350px
}

.password {
    width: 150px
}

.mat-cell:nth-child(1), // cnpj
  .mat-header-cell:nth-child(1),
  {
  flex: 0 0 150px;
  }
  .mat-cell:nth-child(2), // fullName
  .mat-header-cell:nth-child(2),
  {
  flex: 0 0 300px;
  }
  .mat-cell:nth-child(3), // category
  .mat-header-cell:nth-child(3),
  {
  flex: 0 0 200px;
  }
  .mat-cell:nth-child(4), // sendNotification
  .mat-header-cell:nth-child(4),
  {
  flex: 0 0 200px;
  }
  .mat-cell:nth-child(5) { // Edit
    -webkit-text-fill-color: $systemColor
  }


