@import '../../../../../../assets/styles/color.scss';
@import '../../../../../../assets/styles/crud.scss';

.mat-cell:nth-child(1), // updateDate 
.mat-header-cell:nth-child(1),
{
flex:10vh;
font-size: $font-line-size;

}
.mat-cell:nth-child(2), // process 
.mat-header-cell:nth-child(2),
{
flex:20vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(3), // product
.mat-header-cell:nth-child(3),
{
flex:40vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(4), // type
.mat-header-cell:nth-child(4),
{
flex:10vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(5), // situation
.mat-header-cell:nth-child(5),
{
flex:20vh;
font-size: $font-line-size;
}
.mat-cell:nth-child(6), // vencimento
.mat-header-cell:nth-child(6),
{
flex:15vh;
font-size: $font-line-size;
}
.mat-row {
  min-height: max-content;
  max-height: max-content;
  border: 0;

  margin-top: 2px;
  margin-bottom: 2px;
}
.mat-row:hover {
  background-color: blue;
  --webkit-text-stroke-color: white;
  cursor: pointer;
  cursor: hand;
}
.contanier{
  background-color:	$systemBackgronwd;
}
.table-container-cosmetic-regularized {
  display: flex;
  flex-direction: column;
  height: 50vh;
  max-height: 45vh;
  background-color:	$systemBackgronwd;
}