@import '../../../../../../assets/styles/color.scss';
@import '../../../../../../assets/styles/crud.scss';

.mat-cell:nth-child(1), // process 
.mat-header-cell:nth-child(1),
{
flex:80px;

}
.mat-cell:nth-child(2), // product
.mat-header-cell:nth-child(2),
{
flex:400px;

}
.mat-cell:nth-child(3), // type
.mat-header-cell:nth-child(3),
{
flex:200px;

}
.mat-cell:nth-child(4), // situation
.mat-header-cell:nth-child(4),
{
flex:250px;

}
.mat-cell:nth-child(5), // vencimento
.mat-header-cell:nth-child(5),
{
flex:100px;

}
.mat-row:hover {
  background-color: blue;
  --webkit-text-stroke-color: white
}
.contanier{
  background-color:	$systemBackgronwd;
}
.table-container-cosmetic-regularized {
  display: flex;
  flex-direction: column;
  height: 55vh;
  max-height: 55vh;
  background-color:	$systemBackgronwd;
}