<div class="table-container mat-elevation-z8">


  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Digite o que procura">
  </mat-form-field>


  <mat-table #table class="mat-table mat-elevation-z12" [dataSource]="dataSource" matSort>
    
    <!-- CNPJ Column -->
    <ng-container matColumnDef="cnpj">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'registerCnpj.cnpj' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let CNPJ"> {{maskCnpj(CNPJ.cnpj)}} </mat-cell>
    </ng-container>

    <!-- Full Name Column -->
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'registerCnpj.fullName' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let CNPJ"> {{CNPJ.fullName}} </mat-cell>
    </ng-container>

    <!-- category Column -->
    <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'registerCnpj.category' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let CNPJ"> {{ getCategory(CNPJ.category)}} </mat-cell>
      </ng-container>

    <!-- active Column -->
    <!-- <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'registerCnpj.active' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let CNPJ"> {{ getActive(CNPJ.active)}} </mat-cell>
    </ng-container> -->



    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let CNPJ; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, CNPJ)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(CNPJ.id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>


      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">

    </mat-row>
    
  </mat-table>
  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
 <!-- <mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
  </mat-paginator> -->
</div>