@import '../../../assets/styles/color.scss';

:host {
  display: flex;
  flex: 1;
}

.mat-sidenav-container {
  background-color: inherit;
  -webkit-text-fill-color: inherit;
}
.mat-sidenav {
  font-weight: bold;
  -webkit-text-fill-color: $systemColor;
  min-width: 270px;
  max-width: 28%;
  background-color:	$systemBackgronwd;
}

.mat-accordion .mat-expansion-panel .mat-expansion-panel-header {
  font-weight: bold;
  background-color:	$systemBackgronwd; 
  -webkit-text-fill-color: $systemColor;
}

.has-border {
  border-right: 4px solid rgba(0, 0, 0, 0.12);
}

.mat-list {
  padding-top: 0;
  background-color: inherit;
  -webkit-text-fill-color: inherit;
}

.mat-list-item {
  text-decoration: none;
  -webkit-text-fill-color: inherit;
  font-weight: bold;
  &:hover {
    background: rgba(0, 0, 0, 0.15);
  }
}

.menu-button {
  margin-right: 1rem;
}



