::ng-deep .column {

    width: 99%;

}

::ng-deep .full-width {
    width: 99%;
}
::ng-deep .auto-width {
    width: auto;
}
/* Clear floats after the columns */
::ng-deep .row:after {
    content: "";
    display: table;
    clear: both;
}

::ng-deep .mat-dialog-title{
    background-color: $systemColor;
    color: white;
    text-align: center
}  

::ng-deep .mat-dialog-container {
    overflow: hidden !important;
    border-radius: 5px !important;
    padding: 5px !important;
    background-color: #c5cece;
}

::ng-deep .mat-dialog-actions {
    // align buttons to right as shown in Material Design guide
    justify-content: flex-end;
    margin-bottom: 5px;

    .mat-button {
        margin-bottom: 15px;
    &:not(:first-child) {
        margin-left: 1em;
      }
    }
}
  
::ng-deep .flex-spacer {
    flex: 1 1 auto;
}

::ng-deep .mat-form-field {
    font-size: 14px;
    margin: 5px;
    background-color:	inherit
  }
::ng-deep .mat-form-field-placeholder{
    color: black
}
::ng-deep .mat-focused .mat-form-field-placeholder{
    color:$systemColor;
}
::ng-deep .mat-form-field-underline .mat-form-field-ripple{
   background-color:$systemColor;
}
::ng-deep .mat-form-field-underline{
    background-color:$systemColor;
}

::ng-deep .mat-button, .mat-raised-button{
    background-color: $systemColor;
    color: white;
} 

::ng-deep .mat-success {
    background-color: $systemColor;
    color: black;
}

::ng-deep .mat-button-focus {
    background-color: $systemColor;
    color: black;
}